* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#content-wrap {
  flex-grow: 1;
}

#content-wrap {
  content: "";
  display: block;
}
/* ----------header and footer----------- */

header {
  height: 140px;
  position: relative;
}

.header-container {
  background-color: #258bd6;
  height: 100px;
}

#logo {
  position: absolute;
  top: 40%;
  width: 90px;
  height: 90px;
  transform: translate(-50%, -50%);
  left: 30%;
}

ul.menu {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.menu li {
  float: left;
}

.menu li a,
.menu li p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

ul.user-options {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20%;
  top: 30%;
  list-style-type: none;
  display: inline-block;
}

.user-options li {
  float: left;
  width: 60px;
}

.user-options button {
  background-color: #258bd6;
  border: 0;
  cursor: pointer;
}

#search-icon {
  position: absolute;
  right: 30%;
  top: 30%;
  margin-top: 5px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

#user-icon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.admin-options {
  width: 30px;
  height: 30px;
}
.admin-options svg {
  color: #f9f9f9;
  margin-top: 5px;
  font-size: 25px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  position: relative;
  background-color: #f9f9f9;
  bottom: 0;
  min-width: 160px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: small;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.admin-options:hover .dropdown-content {
  display: block;
  visibility: initial;
}

.search-panel {
  visibility: initial;
  background-color: #258bd6;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.search-panel-invisible {
  visibility: hidden;
  background-color: #258bd6;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  animation: 1s ease-out 0s 1 slideOutFromRight;
}

.ant-input-search {
  position: absolute;
  width: 400px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
/* ---edit ant-btn----- */
.ant-input-group-addon {
  background-color: #fab400;
}
.ant-btn-primary {
  background-color: #fab400;
  border: #fab400;
}

.ant-btn-primary:hover {
  background-color: #faa200;
}

footer {
  width: 100%;
  background-color: #0f6bac;
  color: white;
  text-align: center;
  height: 150px;
  position: relative;
  margin-top: 20px;
}

/* ----------events----------- */
.events-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 1%;
  padding: 15px;
}

.event {
  width: 200px;
  height: 300px;
  padding: 5%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.event img {
  height: 200px;
  width: 100%;
}
.event img:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* ----------register----------- */

.register-form {
  width: 30%;
  margin: 2% auto 2% auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.register-form input {
  margin-bottom: 1%;
}

.register-form button {
  width: 150px;
  margin: 20px auto;
  font-size: 18px;
  height: 40px;
}
#submitBtn {
  background-color: #fab400;
  border: #fab400;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #faa200;
}

#sendBtnArrow {
  font-size: 20px;
  margin-left: 20px;
}

#authentication-h4 {
  position: absolute;
  left: 40%;
}

/* -------chart designer---------- */
#chart {
  height: 650px;
}

/* -----all Charts----- */
.charts-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 1%;
  padding: 15px;
}

.chartItem {
  width: 200px;
  height: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
}

.chartItem img {
  height: 200px;
  width: 100%;
}

#archiveBtn {
  background-color: #d0342c;
  color: white;
  border: #d0342c;
}

/* ----------responsive media quieries----------- */
@media only screen and (max-width: 1480px) {
  .header-container {
    margin: 0;
  }

  #logo {
    margin: 0 50px;
  }

  .events-container {
    grid-template-columns: auto auto auto;
  }
  ul {
    padding: 0;
  }

  ul.user-options {
    right: 10%;
  }
  #logo {
    left: 20%;
  }
}

@media only screen and (max-width: 1100px) {
  ul.user-options {
    right: 13%;
  }
  #logo {
    left: 20%;
    margin: 0;
  }

  .menu li a,
  .menu li p {
    padding: 7px 8px;
    font-size: 15px;
  }

  .events-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-height: 900) {
  .events-container {
    margin-top: 5%;
  }
}

/* ----animations---- */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
